* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
}

:root {
  --primary-color: #988a86;
  --focus-color: #fbe1d7;
  --text-color: #212529;
  --dark-shade-75: rgba(1, 0 , 2, .75);
  --dark-shade-50: rgba(1, 0 , 2, .5);
  --dark-shade-25: rgba(1, 0 , 2, .25);
  --dark-shade-10: rgba(1, 0 , 2, .1);
  --modal-bg-color: #F2F2F2;
  --red-color: #e50000;
  --red-focus-color: #ef1414;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}