.menu-item {
  padding: 10px;
  // width: 250px;
  width: 22.5%;
  height: 390px;
  // border: 1px solid var(--dark-shade-75);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 991px) {
    width: 30%;
  }
  @media (max-width: 768px) {
    width: 44%;
  }
  @media (max-width: 575px) {
    width: 400px;
    height: 340px;
  }
  @media (max-width: 425px) {
    width: 300px;
  }
  &:hover {
    box-shadow: 0 0 5px var(--dark-shade-75);
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    object-fit: cover;
    img {
      display: block;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__name {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  &__description {
    margin-top: 5px;
    font-size: 14px;
    color: var(--dark-shade-75);
  }
  &__bottom-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__add {
    display: block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: var(--primary-color);
    border-color: var(--primary-color);
    &:hover {
      &:not(:disabled) {
        color: #fff;
        background-color: var(--primary-color);
        border-color: var(--primary-color);
      }
    }
    &:focus {
      &:not(:disabled) {
        border-color: var(--focus-color);
        outline: 0;
        box-shadow: 0 0 0 0.25rem var(--focus-color);
      }
    }
    &:disabled {
      cursor: unset;
      opacity: .5;
    }
    &_added {
      color: #fff;
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      &:hover {
        &:not(:disabled) {
          color: var(--primary-color);
          border-color: var(--primary-color);
          background-color: transparent;
        }
      }
      &:focus {
        &:not(:disabled) {
          border-color: var(--focus-color);
          outline: 0;
          box-shadow: 0 0 0 0.25rem var(--focus-color);
        }
      }
      &:disabled {
        cursor: unset;
        opacity: .5;
      }
    }
  }
}