.header {
  width: 100%;
  height: 60px;
  background-color: var(--primary-color);
  &_main {
    top: 0;
    position: fixed;
  }
  .container {
    height: 100%;
  }
  &__nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    height: 100%;
    padding: 4px;
    display: flex;
    align-items: center;
    a {
      height: 100%;
    }
    img {
      height: 100%;
    }
  }
  &__cart {
    height: 50%;
    margin-left: 40px;
    position: relative;
    img {
      height: 100%;
    }
  }
  &__cart-sum {
    position: absolute;
    right: -25%;
    top: -33%;
    white-space: nowrap;
    color: var(--dark-shade-75);
  }
  &__links {
    margin-left: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    a {
      margin-left: 20px;
      text-decoration: none;
      color: #ffffff;
      white-space: nowrap;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &__menu-links {
    width: 600px;
    // overflow: hidden;
    overflow-x: auto;
    &_desktop {
      text-align: end;
    }
    &_mobile {
      display: none;
      margin: 0;
      .container {
        padding: 0;
        display: flex;
        align-items: center;
        overflow: scroll;
      }
      .header__links {
        margin: 0;
      }
    }
    /* height */
    &::-webkit-scrollbar {
      height: 4px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888; 
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
  }
  .active-type {
    text-decoration: underline;
    text-underline-offset: 4px;
    line-height: 24px;
  }
  @media (max-width: 425px) {
    &__logo a {
      height: 66%;
    }
    &__cart {
      margin-left: 10px;
    }
    &__links a {
      margin-left: 10px;
    }
  }
  @media (max-width: 768px) {
    .header__menu-links {
      &_desktop {
        display: none;
      }
      &_mobile {
        padding: 0 10px;
        display: flex;
        width: 100%;
        height: 40px;
        background-color: #fff;
        a {
          color: var(--dark-shade-75);
          padding: 2px 8px;
        }
        .active-type {
          background-color: #c6c4c4;
          border-radius: 4px;
        }
      }
      &::-webkit-scrollbar {
        height: 0;
      }
    }
  }
  @media (max-width: 1199px) {
    &__menu-links{
      width: 520px;
    }
  }
  @media (max-width: 991px) {
    &__menu-links {
      width: 300px;
    }
  }
}