.menu-group {
  margin-top: 10px;
  &__header {
    font-size: 20px;
    font-weight: bold;
  }
  &__list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    @media (max-width: 575px) {
      justify-content: center;
    }
    .menu-item {
      margin-bottom: 20px;
      // margin-right: 3.33%;
      margin-right: calc((100% - 4 * 22.5%) / 3);
      &:nth-child(4n) {
        margin-right: 0;
      }
      @media (max-width: 991px) {
        margin-right: calc((100% - 3 * 30%) / 2);
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
      @media (max-width: 768px) {
        margin-right: calc((100% - 2 * 44%) / 1);
        &:nth-child(3n) {
          margin-right: calc((100% - 2 * 44%) / 1);
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
      @media (max-width: 575px) {
        margin-right: 0;
        &:nth-child(2n) {
          margin-right: 0;
        }
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }
}