.overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba($color: #000000, $alpha: 0.56);
  z-index: 1;
}

.admin-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 382px;
  min-height: 143px;
  background: #F2F2F2;
  padding: 38px 38px 38px 38px;
  &__close {
    position: absolute;
    top: 0;
    right: -40px;
    line-height: 21px;
    font-size: 41px;
    color: rgba(1, 0, 2, .75);
    cursor: pointer;
  }
  &__subtitle {
    margin-top: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0D0D0D;
  }

  &__desc {
    margin-top: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #0D0D0D;
  }
  &__add-form {
    display: flex;
    flex-direction: column;
  }
  &__label {
    margin-top: 10px;
  }
  &__label-text {
    font-size: 14px;
    color: rgba(1, 0 , 2, .75);
  }
  &__input, &__textarea {
    width: 100%;
    font-size: 16px;
    color: rgba(1, 0 , 2, .75);
    padding: 13px 15px;
    background: #FFFFFF;
    border: 1px solid rgba(1, 0 , 2, .50);
    border-radius: 4px;
    outline: none;
    resize: none;
    &:hover, &:focus, &:focus-visible {
      border: 1px solid rgba(1, 0 , 2, 1);
      border-radius: 4px;
    }
    &::placeholder {
      color: rgba(1, 0 , 2, .25);
    }
  }
  &__submit {
    margin-top: 10px;
    display: block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #0d6efd;
    border-color: #0d6efd;
    &:hover {
      &:not(:disabled) {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
      }
    }
    &:focus {
      &:not(:disabled) {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
      }
    }
    &:disabled {
      cursor: unset;
      opacity: .5;
    }
    &_red {
      color: #e50000;
      border-color: #e50000;
      &:hover {
        &:not(:disabled) {
          color: #fff;
          background-color: #e50000;
          border-color: #e50000;
        }
      }
      &:focus {
        &:not(:disabled) {
          border-color: #ef1414;
          outline: 0;
          box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
        }
      }
    }
  }
  &__option {
    position: relative;
    margin-top: 5px;
  }
  &__option-description {
    margin-right: 15px;
  }
  &__option-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 7rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: 1s;
    transform-style: flat;
    &_visible {
      display: block;
    }
  }
  &__option-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    &:hover, &:focus {
      outline: 0;
      color: #1e2125;
      background-color: #e9ecef;
    }
  }
  input[type=button] {
    cursor: pointer;
  }
}