@import '../../styles/mixins.scss';

.login-content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__header {
    text-align: center;
    margin: 20px auto;
  }
  &__auth {
    width: 382px;
    min-height: 143px;
    background: var(--modal-bg-color);
    padding: 38px 38px 38px 38px;
    @media (max-width: 425px) {
      width: 90%;
    }
  }
  &__label {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
  }
  &__label-text {
    font-size: 16px;
    color: var(--dark-shade-75);
  }
  &__input {
    width: 100%;
    font-size: 16px;
    color: var(--dark-shade-75);
    padding: 13px 15px;
    background: #FFFFFF;
    border: 1px solid var(--dark-shade-50);
    border-radius: 4px;
    outline: none;
    resize: none;
    &:hover, &:focus, &:focus-visible {
      border: 1px solid var(--text-color);
      border-radius: 4px;
    }
    &::placeholder {
      color: var(--dark-shade-25);
    }
    &_error {
      border-color: red;
    }
  }
  &__input-feedback {
    font-size: 14px;
    color: red;
  }
  &__submit {
    @include button;
    margin-top: 10px;
    width: 100%;
  }
}